<?xml version="1.0"?>
<launch>

    <param name="robot_description" command="xacro '$(find forklift)/urdf/forklift.urdf.xacro'"/>
    <param name="pallet_obj" command="xacro '$(find pallet)/urdf/pallet.urdf.xacro'"/>
    
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>
    <node name="joint_state_publisher_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui"/>

    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(find env_world)/world/test2.world"/>

        <arg name="paused" value="false"/>
        <arg name="use_sim_time" value="true"/>
        <arg name="gui" value="true"/>
        <arg name="headless" value="false"/>
        <arg name="debug" value="false"/>
        
    </include>

    <node name="spawning_forklift" pkg="gazebo_ros" type="spawn_model" args="-urdf -model forklift -param robot_description -z 0.160253"/> 
    <node name="spawning_pallet" pkg="gazebo_ros" type="spawn_model" args="-urdf -model pallet -param pallet_obj -x 1 -z 0.001500  "/>
     
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find forklift)/rviz/cam.rviz" required="true" />
    
    <!-- depth and color visualize -->
    <include file="$(find img)/launch/image.launch"/>  

</launch>
